<main class="main">
  <!-- TODO: Navbar -->
  <section class="navbar-section bg-body-tertiary">
    <div class="toggle-brand">
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="btn" routerLink="/" type="button" aria-label="Logo">
        <img
          src="../../../assets/Spolify-Logo.svg"
          class="brand-lg"
          height="30px"
          alt="Spolify logo"
        />
      </button>
    </div>

    <div class="search">
      <div class="position-relative w-100">
        <i class="bi bi-search position-absolute top-0 end-0 mt-1 me-2"></i>
        <input
          type="text"
          class="form-control shadow-sm"
          id="search"
          placeholder="Buscar canción"
          aria-label="Buscar canción"
          [(ngModel)]="searchText"
        />
      </div>
    </div>

    <div class="session">
      <button
        *ngIf="checkSession()"
        class="btn btn-outline-primary"
        type="button"
        routerLink="/auth/login"
        aria-label="Iniciar sesión"
      >
        <i class="bi bi-person-circle"></i>
        Iniciar sesión
      </button>

      <div class="dropdown-center" *ngIf="!checkSession()">
        <button
          class="btn btn-outline-primary"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-label="Perfil"
        >
          <i class="bi bi-person-circle"></i>
          {{ usuario.username }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#" aria-label="Mi perfil"
              >Mi perfil</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item pointer" (click)="onLogout()"
              >Cerrar sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- TODO: Contenido -->
  <section class="body-section">
    <ol class="list-group list-group-numbered" [hidden]="!songs">
      <li
        class="list-group-item d-flex justify-content-between align-items-start border-bottom pointer"
        *ngFor="let songItem of songs"
        [class.active]="
          songItem.titulo == currentTrack.titulo &&
          songItem.artista == currentTrack.artista
        "
        (click)="onChangeCurrentTrack(songItem)"
      >
        <div class="position-relative">
          <!-- <i
            class="bi bi-heart-fill fs-5 position-absolute top-50 start-50 translate-middle text-warning shadow"
            *ngIf="songItem.favorite"
          ></i>
          <i
            class="bi bi-heart fs-5 text-warning position-absolute top-50 start-50 translate-middle shadow"
            *ngIf="!songItem.favorite"
          ></i> -->
          <img
            src="../../../assets/thumb.png"
            alt="Thumbnail"
            class="rounded cover mx-1"
            width="48"
            height="48"
          />
        </div>
        <div class="ms-2 me-auto">
          <div class="fw-bold text-truncate">{{ songItem.titulo }}</div>
          {{ songItem.artista }}
        </div>
        <span class="badge bg-transparent rounded-pill">
          <!-- <i
            class="bi bi-heart fs-5 text-warning"
            *ngIf="!songItem.favorite"
          ></i>
          <i
            class="bi bi-heart-fill fs-5 text-warning"
            *ngIf="songItem.favorite"
          ></i> -->
        </span>
      </li>
    </ol>
  </section>

  <!-- TODO: Player -->
  <section class="player-section border-top bg-body-tertiary shadow">
    <app-player></app-player>
  </section>
</main>

<!-- TODO: OffCanvas -->

<!-- Sidebar -->
<div
  class="offcanvas offcanvas-start sidebar bg-body-tertiary"
  tabindex="-1"
  id="offcanvasNavbar"
  data-bs-scroll="true"
  aria-labelledby="offcanvasNavbarLabel"
>
  <div class="offcanvas-header shadow-small">
    <div class="offcanvas-title" id="offcanvasNavbarLabel">
      <img
        src="../../../assets/Spolify-Logo.svg"
        height="50px"
        alt="Spolify logo"
      />
    </div>
    <button
      type="button"
      class="btn"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      <b>
        <i class="bi bi-x-lg fs-5"></i>
      </b>
    </button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column nav-pills" style="font-weight: 700">
      <li class="nav-item">
        <a
          class="nav-link active d-flex align-items-center gap-1"
          aria-current="page"
          href="#"
          aria-label="Inicio"
        >
          <!-- <i class="bi bi-house-door"></i> -->
          <i class="bi bi-house-fill fs-5"></i>
          <span> Inicio </span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link d-flex align-items-center gap-1"
          routerLink="/perfil"
          aria-label="Tu biblioteca"
        >
          <i class="bi bi-speaker fs-5"></i>
          <!-- <i class="bi bi-speaker-fill"></i> -->
          <span> Tu biblioteca </span>
        </a>
      </li>
      <li><hr /></li>
      <li class="nav-item">
        <a
          class="nav-link d-flex align-items-center gap-1"
          href="#"
          aria-label="Crear playlist"
        >
          <i class="bi bi-plus-square-fill fs-5"></i>
          <span>Crear playlist</span>
        </a>
      </li>
    </ul>
  </div>
</div>
