<div class="banner bg-dark-subtle">
  <picture
    class="square-image rounded border border-primary-subtle border-5 shadow"
  >
    <img
      src="../../../assets/spolify.svg"
      class="img-circle"
      alt="Foto de perfil"
      width="100"
    />
  </picture>
  <div class="d-flex flex-column justify-content-center text-white">
    <div class="d-flex w-100 justify-content-between">
      <span class="fs-5">{{ usuario.nombre + " " + usuario.apellido }}</span>
      <small>Se unió el: {{ usuario.fecha_creacion?.split("T")[0] }}</small>
    </div>
    <span>@{{ usuario.username }}</span>
    <small>Total de canciones compartidas: {{ canciones.length }}</small>
    <div class="d-flex gap-1 mt-1">
      <button
        type="button"
        class="btn btn-outline-primary"
        aria-label="Compartir perfil"
      >
        <i class="bi bi-share-fill mx-1"></i>
        Compartir perfil
      </button>
      <button type="button" class="btn btn-outline-primary">
        <i class="bi bi-pencil-fill mx-1"></i>
        Editar perfil
      </button>
    </div>
  </div>
</div>
